/* AUTO=sticky_menu */
@media screen and (min-width: 1025px) {
  .l-top_menu-v2 {
    position: sticky;
    top: 0;
  }

  .l-top_menu-v2 .active .submenu {
    max-height: calc(100vh - 46px);
    overflow: auto;
  }
}
// ----------------------------------------------------------------

// Palettes
$palette-yellow-50: rgb(253, 248, 230);
$palette-yellow-100: rgb(251, 237, 194);
$palette-yellow-200: rgb(248, 225, 153);
$palette-yellow-300: rgb(245, 212, 112);
$palette-yellow-400: rgb(243, 203, 81);
$palette-yellow-500: rgb(241, 194, 50);
$palette-yellow-600: rgb(239, 188, 45);
$palette-yellow-700: rgb(237, 180, 38);
$palette-yellow-800: rgb(235, 172, 31);
$palette-yellow-900: rgb(231, 159, 19);
$palette-yellow-A100: rgb(255, 255, 255);
$palette-yellow-A200: rgb(255, 244, 226);
$palette-yellow-A400: rgb(255, 226, 175);
$palette-yellow-A700: rgb(255, 216, 150);

$palette-green-50: rgb(242, 248, 239);
$palette-green-100: rgb(223, 237, 216);
$palette-green-200: rgb(201, 226, 190);
$palette-green-300: rgb(179, 214, 164);
$palette-green-400: rgb(163, 205, 145);
$palette-green-500: rgb(147, 196, 125);
$palette-green-600: rgb(139, 190, 117);
$palette-green-700: rgb(128, 182, 106);
$palette-green-800: rgb(118, 175, 96);
$palette-green-900: rgb(100, 162, 77);
$palette-green-A100: rgb(255, 255, 255);
$palette-green-A200: rgb(218, 255, 205);
$palette-green-A400: rgb(180, 255, 154);
$palette-green-A700: rgb(161, 255, 128);

$palette-red-50: rgb(249, 224, 224);
$palette-red-100: rgb(240, 179, 179);
$palette-red-200: rgb(230, 128, 128);
$palette-red-300: rgb(219, 77, 77);
$palette-red-400: rgb(212, 38, 38);
$palette-red-500: rgb(204, 0, 0);
$palette-red-600: rgb(199, 0, 0);
$palette-red-700: rgb(192, 0, 0);
$palette-red-800: rgb(185, 0, 0);
$palette-red-900: rgb(173, 0, 0);
$palette-red-A100: rgb(255, 215, 215);
$palette-red-A200: rgb(255, 164, 164);
$palette-red-A400: rgb(255, 113, 113);
$palette-red-A700: rgb(255, 88, 88);

$palette-grey-50: rgb(235, 234, 234);
$palette-grey-100: rgb(205, 203, 203);
$palette-grey-200: rgb(172, 169, 169);
$palette-grey-300: rgb(138, 135, 135);
$palette-grey-400: rgb(113, 109, 109);
$palette-grey-500: rgb(88, 83, 83);
$palette-grey-600: rgb(80, 76, 76);
$palette-grey-700: rgb(71, 66, 66);
$palette-grey-800: rgb(61, 57, 57);
$palette-grey-900: rgb(45, 41, 41);

// Colors
$white: $palette-green-A100;

// Background color
$backgeound-color: $palette-grey-700;

// Text color
$text-color: $palette-grey-50;
$text-color-dark: $palette-grey-700;

// Stats text color
$planned: $text-color;
$watching: $palette-yellow-400;
$completed: $palette-green-A700;
$on-hold: $palette-red-100;
$droped-color: $palette-red-300;

// Anime bars color
$anime-bar-first: $palette-green-400;
$anime-bar-second: $watching;
$anime-bar-third: $on-hold;

// Manga bars color
$manga-bar-first: $white;
$manga-bar-second: $white;
$manga-bar-third: $white;
// ----------------------------------------------------------------

// Extends
%flex-colum {
  display: flex;
  flex-direction: column;
}

%flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

%text-center {
  text-align: center;
  text-align: -webkit-center;
}
// ----------------------------------------------------------------

body, .l-page {
  background: $backgeound-color;
}

.p-profiles .profile-head {
  @extend %flex-row;

  .c-history.x3 {
    order: 3;
    margin-top: 0;
  }

  .c-brief {
    order: 1;
    @extend %flex-colum;
    align-items: center;
    flex: 1 100%;

    .avatar {
      margin: 0;
      margin-bottom: 10px;

      img {
        border-radius: 50%;
      }

      .profile-actions {
        display: none;
      }
    }

    .head.misc {
      @extend %text-center;

      h1 {
        color: $text-color;
      }

      .notice {
        display: none;
      }
    }
  }

  .c-info {
    order: 2;
    flex: 1 auto;

    .c-lists-info {
      .b-stats_bar {
        @extend %text-center;

        .compatibility {
          display: none;
        }

        .title {
          position: absolute;
          left: 62%;
          font-size: 20px;
          color: $white;
          z-index: 2;
        }

        &.anime .title {
          top: 18.8%;
          left: 62%;
        }

        &.manga .title {
          top: 28%;
          left: 62.4%;
        }

        .bar {
          height: 90px;
          @extend %flex-colum;
          justify-content: space-between;
          align-items: flex-end;

          div {
            height: 30%;
            border-radius: 10px;
            display: flex;
            align-items: center;
            padding-left: 5px;
          }

          .first {
            background: $anime-bar-first;
          }

          .second {
            background: $anime-bar-second;
          }

          .third {
            background: $anime-bar-third;
          }
        }

        .stat_names {
          text-align: right;

          .stat_name {
            a {
              font-size: 16px;
            }
          }

          .stat_name[data-type="planned"] {
            a {
              color: $planned;
            }
          }

          .stat_name[data-type="watching,rewatching"] {
            a {
              color: $watching;
            }
          }

          .stat_name[data-type="completed"] {
            a {
              color: $completed;
            }
          }

          .stat_name[data-type="on_hold"] {
            a {
              color: $on-hold;
            }
          }

          .stat_name[data-type="dropped"] {
            a {
              color: $droped-color;
            }
          }
        }
      }
    }

    .c-additionals {
      display: none;
    }
  }
}

.l-page {
  .subheadline {
    border-radius: 10px;
    background: $palette-grey-50;
    color: $text-color-dark;

    a {
      color: $text-color-dark;
    }
  }
}