/* AUTO=sticky_menu */
@media screen and (min-width: 1025px) {
  .l-top_menu-v2 {
    position: sticky;
    top: 0;
  }

  .l-top_menu-v2 .active .submenu {
    max-height: calc(100vh - 46px);
    overflow: auto;
  }
}
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .bar, .p-profiles .profile-head .c-brief {
  display: flex;
  flex-direction: column;
}

.p-profiles .profile-head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar, .p-profiles .profile-head .c-brief .head.misc {
  text-align: center;
  text-align: -webkit-center;
}

body, .l-page {
  background: #474242;
}

.p-profiles .profile-head .c-history.x3 {
  order: 3;
  margin-top: 0;
}
.p-profiles .profile-head .c-brief {
  order: 1;
  align-items: center;
  flex: 1 100%;
}
.p-profiles .profile-head .c-brief .avatar {
  margin: 0;
  margin-bottom: 10px;
}
.p-profiles .profile-head .c-brief .avatar img {
  border-radius: 50%;
}
.p-profiles .profile-head .c-brief .avatar .profile-actions {
  display: none;
}
.p-profiles .profile-head .c-brief .head.misc h1 {
  color: #ebeaea;
}
.p-profiles .profile-head .c-brief .head.misc .notice {
  display: none;
}
.p-profiles .profile-head .c-info {
  order: 2;
  flex: 1 auto;
}
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .compatibility {
  display: none;
}
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .title {
  position: absolute;
  left: 62%;
  font-size: 20px;
  color: white;
  z-index: 2;
}
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar.anime .title {
  top: 18.8%;
  left: 62%;
}
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar.manga .title {
  top: 28%;
  left: 62.4%;
}
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .bar {
  height: 90px;
  justify-content: space-between;
  align-items: flex-end;
}
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .bar div {
  height: 30%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .bar .first {
  background: #a3cd91;
}
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .bar .second {
  background: #f3cb51;
}
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .bar .third {
  background: #f0b3b3;
}
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .stat_names {
  text-align: right;
}
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .stat_names .stat_name a {
  font-size: 16px;
}
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .stat_names .stat_name[data-type=planned] a {
  color: #ebeaea;
}
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .stat_names .stat_name[data-type="watching,rewatching"] a {
  color: #f3cb51;
}
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .stat_names .stat_name[data-type=completed] a {
  color: #a1ff80;
}
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .stat_names .stat_name[data-type=on_hold] a {
  color: #f0b3b3;
}
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .stat_names .stat_name[data-type=dropped] a {
  color: #db4d4d;
}
.p-profiles .profile-head .c-info .c-additionals {
  display: none;
}

.l-page .subheadline {
  border-radius: 10px;
  background: #ebeaea;
  color: #474242;
}
.l-page .subheadline a {
  color: #474242;
}

/*# sourceMappingURL=style.css.map */
